body {
  display: grid;
  margin: 0;
  width: 100%;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "header header"
    "nav body";
}

.navbar {
  background-color: rgb(136, 183, 199);
  grid-area: nav;
  height: 100%;
  width: 100%;
}

.content {
  grid-area: body;
  margin: 3%;
}
